body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .card {
    border: 10px solid black;
    color: white;
    border-radius: 30px;
    font-size: 40px;
    font-weight: bold;
    padding: 70px 50px;
    text-align: center;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  