body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }

  .card {
    border: 10px solid black;
    color: white;
    border-radius: 30px;
    font-size: 40px;
    font-weight: bold;
    padding: 70px 50px;
    text-align: center;
  }
  
  .game {
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .player-cards{
    width:800px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }